<!DOCTYPE html>
<html>
<head>
    <title>Evidencija - dodaj projekat</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
    <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>

</head>
<body>
    <%- include("../partials/chat.ejs") %>


    <main class="flex w-full">
        
        <div class="w-0 sm:w-[15%]">
          <%- include("../partials/navAll.ejs") %>
        </div>

        <div class="w-full sm:w-[85%] mt-16">
        
        <h1 class="p-5 border-b-2 border-solid border-[#ddd] uppercase font-medium">Dodajte novi projekat</h1>

            <form  id="formaProjekat" action="/dodajProjekat" method="post" class="flex flex-col items-center" >
            
            <div class="flex flex-col px-3 sm:px-0 sm:flex-row sm:space-x-6  w-full justify-center mt-5 relative">
            
            <div class="flex flex-col space-y-2 sm:w-1/3">

                    <label>Naziv projekta</label>
                    <input required class="p-2 border rounded-sm mb-[30px]" name="nazivProjekta"  placeholder="Ime..." type="text"/>

                    <label class="pt-5">Pocetni datum</label>
                    <input required class="p-2 border rounded-sm mb-[30px]" name="pocetniDatum" placeholder="Prezime..." type="date"/>
                    
                    <label class="pt-5">Menadzer</label>
                    <select required id="menadzer" name="menadzer" class="p-2 border rounded-sm mb-[30px]">
                        <option value="" disabled selected hidden>Odaberite menadzera</option>

                        <% menadzeri.map((menadzer) => { %>
                            <option value=<%=menadzer.username %>><%= menadzer.ime +" " + menadzer.prezime%></option>
                            <%})%>
                    </select>
                
                
            </div>
                <div class="flex flex-col space-y-2 mt-4 sm:mt-0 sm:w-1/3">
                    <label>Status</label>
                    <select name="status" id="" class="p-2 border rounded-sm mb-[30px]" >
                    <option value="" disabled selected hidden>Odaberite status</option>
                        <option value="cekanje">Na cekanju</option>
                        <option value="izrada">U izradi</option>
                        <option value="zavrsen">Zavrseno</option>
                    </select>
                    
                    <label class="pt-5">Rok za izradu</label>
                    <input type="date" name="datumIsteka" class="p-2 border rounded-sm mb-[30px]" />

                    <label class="pt-5">Radnici</label>

                    <select id="choices" name="radnici" placeholder="Izaberite radnike" multiple
                    class="p-2 border rounded-sm mb-[30px]">
                        <%radnici.map((radnik) => { %>
                            <option  data-ime=<%= radnik.ime%> data-prezime=<%= radnik.prezime%> value=<%=radnik.username%> > 
                                <%= radnik.ime + " " + radnik.prezime %> </option>
                            <%})%>
                    </select>

                    
                </div>
            </div>
            <textarea class="border w-[95%] mx-auto sm:mx-0 sm:w-2/3 mt-3 min-h-[200px] " name="opis" placeholder="Napisite opis projekta..."></textarea>
            <button id="dodajProjekatDugme" type="submit" class= "mt-5 bg-sky-600 py-3 px-10 rounded-md text-white uppercase font-medium tracking-widest"> DODAJ </button>

            </form>
        </div>     
    </main> 


    

<script src="/socket.io/socket.io.js"></script>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        
        $(document).ready(function(){
        var multipleCancelButton = new Choices('#choices', {
           removeItemButton: true,
        }); 
    });

    var posiljaocId = '<%= chatData.userId%>'
    var posiljaocIme = '<%= chatData.ime%>'

    $(document).ready(function() {
    $('#formaProjekat').on('submit', function() {
        let radnici = $('#choices').val()
        let menadzer = $('#menadzer').val()
        radnici.push(menadzer)

        socket.emit('projekat', {radnici, posiljaocId, ime:posiljaocIme} );
    });
});
    </script>
    
</body>
</html>